*{
  margin: 0;
  padding:0;
}

body {
  height: 100vh;
  /* background: black; */
  background: #fdf6ec;
  color: #DD7C73;
  font-family: 'outfit';
}

.navbar img {
  width: 150px; 
  height: auto;
}
