.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar img {
    width: 100px; 
    height: auto; 
    object-fit: contain; 
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 12px 25px;
    color: #cb4336;
    border-radius: 50px;
    background: linear-gradient(20deg, #ffb3b8, #e6f7ff);
    font-size:16px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 350;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li p {
    transition: color 0.3s ease;
}
  
  .nav-menu li.active p {
    color:#c1b6f8; 
    font-weight: bold; 
  }
  
.nav-menu li p:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.anchor-link{
    text-decoration: none;
    color: #DD7C73;
}

/* 미디어 쿼리로 모바일 스타일 설정 */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* 세로 정렬 */
        align-items: center;
        margin: 20px 20px; /* 좌우 간격 축소 */
    }

    .navbar img {
        width: 100px; /* 로고 크기 축소 */
        margin-bottom: 10px;
    }

    .nav-menu {
        display: flex; /* flexbox 활성화 */
        flex-direction: row; /* 가로 정렬 */
        justify-content: center; /* 중앙 정렬 */
        align-items: center; /* 세로 정렬 */
        gap: 15px; /* 메뉴 간 간격 조정 */
        font-size: 16px; /* 글자 크기 축소 */
    }

    .nav-menu li {
        align-items: center; /* 가운데 정렬 */
    }

    .nav-connect {
        display: none; /* 모바일에서 버튼 숨기기 */
    }
}
