.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size:70px;
    font-weight: 600;
}

.contact-title h1{
    padding: 0px 30px;
    font-size:70px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    top: 60%; 
    left: 80%; 
    transform: translate(-50%, -50%) scale(1.2); 
    z-index: -1; 
    opacity: 0.8; 
    pointer-events: none; 
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.contact-left h1{
    font-size:55px;
    font-weight: 600;
    background: linear-gradient(300deg, #fa7268, #ffb6c1, #c1b6f8, #89c2d9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size:20px ;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap:20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    font-size:20px;
    font-weight: 400;
}

.contact-right input{
    border:none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #e2e1e2;
    color: black;
    font-family: Outfit;
    font-size: 18px;
}

.contact-right textarea{
    width: 650px;
    border:none;
    padding: 25px;
    border-radius: 4px;
    background:#e2e1e2;
    color: black;
    font-family: Outfit;
    font-size:18px;
}

.contact-submit {
    border: none;
    color: #cb4336;
    border-radius: 50px;
    background: linear-gradient(20deg, #ffb3b8, #e6f7ff);
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap:50px;
        margin: 50px 35px;
        align-items: start;
        padding-top: 80px;
    }

    .contact-title h1{
        padding: 0;
        font-size: 35px;
    }

    .contact-title img{
        width:250px;
        right:-50px;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-left h1{
        font-size: 25px;
        margin-top: -20px;
    }

    .contact-left p{
        font-size: 16px;
    }

    .contact-detail {
        gap: 10px; 
    }

    .contact-detail img {
        width: 18px; /* 모바일에서 아이콘 크기 조정 */
        height: 18px;
        object-fit: contain; /* 아이콘 비율 유지 */
    }

    .contact-right{
        margin-top: -60px;
    }
    .contact-right label{
        font-size: 20px;
    }

    .contact-right input{
        width: 300px;
        font-size: 18px;
    }

    .contact-right textarea{
        width: 95%;
        font-size: 18px;
    }

    .contact-submit{
        font-size: 18px;
        padding: 10px 30px;
    }

}