
.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size:70px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    top: 60%; 
    left: 80%; 
    transform: translate(-50%, -50%) scale(1.2); 
    z-index: -1; 
    opacity: 0.8; 
    pointer-events: none; 
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}