
.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size:70px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    top: 60%; 
    left: 80%; 
    transform: translate(-50%, -50%) scale(1.2); 
    z-index: -1; 
    opacity: 0.8; 
    pointer-events: none; 
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}

.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.10);
    transition: 0.3s;
}

@media(max-width:768px){
    .mywork{
        gap:50px;
        margin: 50px 35px;
        align-items: start;
    }

    .mywork-title h1{
        padding: 0;
        font-size: 35px;
    }

    .mywork-title img{
        width:250px;
        right:-50px;
    }

    .mywork-container{
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .mywork-container img {
        margin: 0 auto; /* 중앙 정렬 */
        height: 100%;
        width: 100%;
    }

    .mywork-container img:hover{
        transform: scale(1.10);
        transition: 0.3s;
    }


}